# Core Django Configs
DJANGO_SECRET_KEY=your-django-secret-key
DJANGO_DEBUG=True

# Production PostgreSQL Settings 
DB_NAME=scraper_db
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_HOST=db                
DB_PORT=5432

# Cache & Redis Broker 
REDIS_HOST=redis          
REDIS_PORT=6379           
REDIS_URL=redis://redis:6379/1 