.git
.gitignore
__pycache__/
*.py[cod]
*.so
venv/
.venv/
env/
ENV/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
*.log
*.pid
db.sqlite3
*.sqlite3
media/
staticfiles/
celerybeat-schedule
.env
.env.*
!.env.example
.vscode/
.idea/
.DS_Store

# Extra additions
Dockerfile*
docker-compose*
README.md
docs/
*.md
node_modules/
tests/